<h1>Root#index</h1>
<p>Find me in app/views/root/index.html.erb</p>

<div id="test1">
  <%= event_button(:event1, "イベント1", for: "element-of-action-1") %>
  <div id="element-of-action-1">操作対象</div>
</div>
