<div class="aaa">
  <div class="bbb" id="b-1">
    <div class="bbb" id="b-2"></div>
    <div class="bbb" id="b-3">
      <div class="ccc">
        <div class="ddd">
          <div class="eee">
            <div class="bbb" id="b-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
