<div id="parent">
  <button id="event_button-1" class="event_button" for="element-of-action-1" data-event="alert">あらーと</button>
  <button id="event_button-2" class="event_button" for="element-of-action-2" data-event="hoge">ほげ</button>
  <div id="element-of-action-1"></div>
  <div id="element-of-action-2"></div>
</div>
